.main-container {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;

    .collapsible__main {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid gray;

        &:last-child {
            border-bottom: 0;
            border-radius: 10px;
        }
        
        .card-body {
            padding: 0;
            .list-group-item {
                padding: 10px 0 0 0; 
            }
        }
    }
}

.main-loading {
    padding-top: 100px;
    min-height: 275px;
}
