.collapsible {
    &__main {
        border: 1px solid gray;
        border-radius: 10px;
        background-color: white;
        .card {
            border: 0;
        }
    }

    &__header {
        margin-top: 10px;
        cursor: pointer; 
    }

    &__title {
        color: #0679b3;
        float: left;
        font-weight: bolder;
        font-size: 25px;
        margin-left: 5px;
        margin-top: -3px;
    }

 
}
